.register-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  text-align: center;
}

.button {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-top: 20px !important;
}

.email-input,
.password-input,
.name-input {
  width: 400px;
  margin: 50px;
}

.header-text {
  color: gray;
  text-align: center;
  padding-bottom: 20px;
}

.right-side {
  height: 50vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-grow: 1;
}
